<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.company.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Начальная страница"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationActivity"
            android:label="@string/activity_presentation_name"/>
        <activity
            android:name=".CreatePresentationActivity"
            android:label="@string/activity_create_presentation_name"/>
        <activity
            android:name=".PreferenceActivity"
            android:label="Настройки" />
        <activity
            android:name=".EditPresentationActivity"
            android:label="@string/activity_edit_presentation_name"/>

    </application>

</manifest>
