<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.spb.speech">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RecomendationActivity"
            android:label="">
        </activity>
        <activity
            android:name=".StartPageActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/activity_training_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingHistoryActivity"
            android:label="@string/activity_training_history_name" />
        <activity
            android:name=".CreatePresentationActivity"
            android:label="@string/activity_create_presentation_name" />
        <activity
            android:name=".EditPresentationActivity"
            android:label="@string/activity_edit_presentation_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingStatisticsActivity"
            android:label="@string/activity_training_statistics_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/about" />

        <service
            android:name=".SpeechRecognitionService"
            android:enabled="true" />

        <activity android:name=".VoiceAnalysisActivity" />

        <receiver android:name=".notifications.AlarmReceiver" />
        <receiver android:name=".notifications.AlarmBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>